* {
    /*Genetal*/
    margin: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", Century;
    /*tipo de fuente*/
    /*Font-Size: 20px;*/

}

h1 {
    font-size: 40px;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cover {
        background-color: rgb(255, 255, 255);
        /*Color del fondo del cuadrado*/
        width: 30em;
        height: 30em;
        position: relative;
        border-radius: 1em;
        box-shadow: 0 0.188em 1.550em rgb(202, 196, 196);
        /*sobreado del borde*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .text {
            position: relative;
            bottom: -2em;
        }

        .login-btn {
            width: 80%;
            height: 3em;
            background-color: rgb(255, 76, 56);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            border-radius: 0.25em;
            cursor: pointer;
            font-size: 16px;
            color: white;
        }

        .login-btn {

            &:hover {
                transform: scale(1.25);
            }
        }

        input {
            border:none;
            
            background-color: rgb(238, 238, 238);
            height: 3em;
            width: 80%;
            border-radius: 0.25en;
            text-align: center;
            padding: -2em;
            Font-Size: 15px;
            margin: -2em;

            &:focus {
               
                outline-color: rgb(255, 76, 56);
            }

        }


    }

}

.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    height: 20em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1s;
}

#divLogo {

    width: 180px;

}



